body{
    position:relative;
}

.page-footer{ 
   position:relative;
   bottom:0;
   width:100%;
   height:auto;   /* Height of the footer */
}


.page-enter{
    opacity: 0.01;
    transform: translateX(-100%)
}

.page-enter-active{
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit{
    opacity: 1;
    transform: translateX(0%)
}

.page-exit-active{
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-in
}

.active-link{
    background-color: #26a69a /*#ee6e73;*/
}

.successMessage{
    width:50%;
    margin:auto;
    padding:1%;
}

.errorMessage{
    width:50%;
    margin:auto;
    padding:1%;
}

span.field-icon {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 2;
}

.social-link{
    padding:5%;
    margin-bottom: 2%;
    color:white;
    font-size:150%;
}

.social-link.center-align i,span{
    color:white;
}

.social-link i{
    float:left;
}

.social-link.facebook{
    background-color: #3b5998;
}

.social-link.twitter{
    background-color: #00aced;
}

.social-link.google{
    background-color: #dd4b39;
}


#mobile-demo{
    background-color: #ee6e73;
}

#mobile-demo .side-link{
    color: white;
}

.top-margin{
    margin-top:5%;
}


/*START DISH CARD */
.card-body{
    padding:5%;
}

.card-body .chip{
    font-size: 150%;
}

@media only screen and (min-width: 600px){
    .card{
        height:400px;
        width:100%;
    }

    .card-body{
        position: absolute;
        width: 100%;
        bottom: 0%;
        z-index:1;
    }
}

/* END DISH CARD */


/* START OF CART LIST   */
.right button.quantity{
    background-color: #ee6e73;
}

.delete button.btn-red{
    background-color: #ee6e73;
}

/* END OF CART LIST */