body{
    position:relative;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
}
main {
    flex: 1 0 auto;
  }

button{
    cursor: pointer;
}

.page-footer{ 
   position:relative;
   bottom:0;
   width:100%;
   height:auto;   /* Height of the footer */
}


.page-enter{
    opacity: 0.01;
    transform: translateX(-100%)
}

.page-enter-active{
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit{
    opacity: 1;
    transform: translateX(0%)
}

.page-exit-active{
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-in
}

.active-link{
    background-color: #26a69a /*#ee6e73;*/
}

.successMessage{
    width:50%;
    margin:auto;
    padding:1%;
}

div.errorMessage{
    color:white;
    background-color: #ee6e73;
    padding:1% 0%;
}

span.field-icon {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 2;
}

.social-link{
    color:white;
    width:100%;
    border:none;
    padding:2%;
    margin-bottom: 5px;
}

.social-link.facebook{
    background-color: #3b5998;
}

.social-link.twitter{
    background-color: #00aced;
}

button.social-link.google{
    background-color: #dd4b39;
    /* display:"flex";
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content:"space-between"; */
    /* padding:"2% 20px" */
}


#mobile-demo{
    background-color: #ee6e73;
}

#mobile-demo .side-link{
    color: white;
}

.top-margin{
    margin-top:5%;
}


/*START DISH CARD */
.card{
    height:400px;
}
.card-body{
    padding:5%;
    z-index:1;
}

.card-body .chip{
    font-size: 150%;
}
.card-image img{
    width:300px;
    height:200px;
}

.card-body button.pulse{
    z-index: 1;
}

/* LARGE SCREEN */
@media only screen and (min-width: 600px){
    

    .card-body{
        color:white;
        position: absolute;
        width: 100%;
        bottom: 0%;
        z-index:1;
    }
}

/* END DISH CARD */


/* START OF CART LIST   */
.right button.quantity{
    background-color: #ee6e73;
}

.delete button.btn-red{
    background-color: #ee6e73;
}

/* END OF CART LIST */

.btn .my-red-btn {
    background-color:#ee6e73 ;
}

#see{
    transition:all 5s;
}


/* FOR ADMIN  DASHBOARD */
.action-btn{
    background-color: #ee6e73;
    width: 260px;
    height: 70px;
    margin: 4px;
    padding: 0;
    line-height: 70px;
    font-size: 18px;
    font-weight: 400;
}


/* CUSTOM ALERT */
/* The alert message box */
.alert-danger {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    text-align: center;
  }
  .alert-success {
    padding: 20px;
    background-color: #04AA6D; /* Green */
    color: white;
    margin-bottom: 15px;
    text-align: center;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

/* END OF CUSTOM ALERT */

.badge-info{
    padding:3%;
    margin:1%;
    color:white;
    background-color: #26a69a;
}

.list-item:hover{
    opacity: .5;
}

.base-link{
    background: #ee6e73;
}

/* slider images */
.carousel-item{
}

.img-slider{
    transform:scale(1);
    border-radius: 5px;
    width: 210px;
    height:210px;
}

/* MODAL */
.my-modal{
    position:fixed;
    z-index: 34;
    overflow: auto;
    top:0%;
    left:0%;
    width: 100%;
    height:100%;
    opacity: 1;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.delete-modal{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: #fafafa;
    width: 95%;
    padding:3%;
}
.modal-warning{
    color:red;
}

.modal-success{
    color:#26a69a;
}

/* The Close Button */
.close {
    position: absolute;
    right:0px;
    top:0px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.span-btn{
    cursor:pointer;
}



/* DESKTOP MODE */
@media only screen and (min-width: 600px) {

    /* FOR DELETE MODAL */
    .delete-modal{
        width:50%;
    }
}